@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-pawlicy-green: #33691D;
  --color-pawlicy-lightgreen: #D7E8CD;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* bird flapping loading animation */
@keyframes flap {
  0%, 100% { transform: rotate(-10deg); }
  50% { transform: rotate(20deg); }
}
.animate-flap {
  animation: flap 0.7s infinite;
  transform-origin: 70% 40%;
}

body {
  background: var(--background);
  color: var(--foreground);
}
